# Bibliotecas Usadas

In [66]:
from faker import Faker
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import random
import sqlite3

## Botando o Faker em Português

In [67]:
fake = Faker('pt_BR')

## Conectando o banco de dados do Django

In [68]:
conn = sqlite3.connect('db.sqlite3')


cur = conn.cursor()

### Verificando tabelas do Django

In [69]:
query = '''
SELECT name
FROM sqlite_master 
WHERE type ='table' AND name NOT LIKE 'sqlite_%';
'''

cur.execute(query)
for c in cur.fetchall():
    print(c)

('django_migrations',)
('Me_Ajuda_Chefe_receitas',)
('Me_Ajuda_Chefe_usuario',)
('Me_Ajuda_Chefe_acessos',)
('auth_group_permissions',)
('auth_user_groups',)
('auth_user_user_permissions',)
('django_admin_log',)
('django_content_type',)
('auth_permission',)
('auth_group',)
('auth_user',)
('django_session',)

### Deletando dados existentes

In [70]:
cur.execute('DELETE FROM Me_Ajuda_Chefe_receitas')

OperationalError: database is locked

# Gerando os dados

## Usuarios

In [ ]:
Estado_Civil = ['Solteiro', 'Casado', 'Divorciado']
random.choice(Estado_Civil)

Chef_e_ou_Cliente = ['Sim - Sim', 'Sim - Não', 'Não - Sim']
random.choice(Chef_e_ou_Cliente)

Itens_Comprados = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
random.choice(Itens_Comprados)

13

In [ ]:
usuarios = {
    'IdUsuario': [],
    'Nome': [],
    'Email':[],
    'Senha': [],
    'Estado': [],
    'Data_de_Nascimento': [],
    'Telefone': [],
    'Estado_Civil': [],
    'Chefe_e_ou_Cliente': [],
    'Itens_Comprados': []
}

for idusuario in range(1, 201):
    usuarios['IdUsuario'].append(idusuario)
    usuarios['Nome'].append(fake.name())
    usuarios['Email'].append(fake.email())
    usuarios['Senha'].append(fake.password())
    usuarios['Estado'].append(fake.state())
    usuarios['Data_de_Nascimento'].append(fake.date_of_birth())
    usuarios['Telefone'].append(fake.phone_number())
    usuarios['Estado_Civil'].append(random.choice(Estado_Civil))
    usuarios['Chefe_e_ou_Cliente'].append(random.choice(Chef_e_ou_Cliente))
    usuarios['Itens_Comprados'].append(random.choice(Itens_Comprados))

df_usu = pd.DataFrame(usuarios)
df_usu.head(10)

,IdUsuario,Nome,Email,Senha,Estado,Data_de_Nascimento,Telefone,Estado_Civil,Chefe_e_ou_Cliente,Itens_Comprados
0,1,Dra. Ana Clara Dias,pfernandes@example.com,05X#Z)6d_C,Bahia,1968-08-07,+55 11 5940-2698,Solteiro,Não - Sim,9
1,2,Lorena Pinto,hnascimento@example.net,V*0rM7v)5w,Rondônia,1986-04-04,+55 61 7066 0965,Solteiro,Sim - Não,4
2,3,Caroline Costa,nathancorreia@example.net,&dJwZty+_5,Sergipe,1947-03-09,(071) 4792 0670,Divorciado,Sim - Sim,11
3,4,Bianca Cunha,teixeiracatarina@example.com,$HxZ2)Ms9H,Minas Gerais,2014-07-01,41 3832-2015,Casado,Sim - Sim,13
4,5,Dr. Isaac Ramos,valentina38@example.net,_V5FQ#o$Y_,Rondônia,1909-07-07,0800 659 5390,Divorciado,Não - Sim,11
5,6,Isis Novaes,xfreitas@example.net,e!6vtHsx$4,Amapá,2002-12-22,61 8795-7331,Divorciado,Sim - Sim,13
6,7,Mirella Peixoto,laurada-cunha@example.com,9%5Rf$B(N$,Paraná,1917-11-29,0300 339 1226,Casado,Sim - Não,3
7,8,Srta. Ana Sophia Costa,joao-felipepinto@example.com,%s9IpMPxHY,Pará,1927-01-08,+55 21 2806-6183,Divorciado,Sim - Sim,6
8,9,Rafael Fogaça,brocha@example.net,*W91GcTt!R,Tocantins,1981-04-27,+55 61 4952 5311,Divorciado,Sim - Não,7
9,10,Davi Lima,tsilva@example.com,_)I4Ame7RG,Pará,1994-08-01,(081) 5673-8019,Solteiro,Sim - Sim,3

## Receitas

In [ ]:
receitas = {
    'IdReceitas': [1, 2, 3, 4],
    'Receitas': ['Receita de Pão', 'Receita deFricassê Vegetariano', 'Receita de Lasanha de Carne Moída', 'Receita de Cappuccino Nutren Senior'],
}

df_rece = pd.DataFrame(receitas)
df_rece['IdReceitas'] = df_rece['IdReceitas'].astype(str)
df_rece.head(4)

  IdReceitas                             Receitas
0          1                       Receita de Pão
1          2       Receita deFricassê Vegetariano
2          3    Receita de Lasanha de Carne Moída
3          4  Receita de Cappuccino Nutren Senior

## Acessos

In [ ]:
adates = np.arange(np.datetime64('2021-09-27'), np.datetime64('2021-12-04'))
probs = np.linspace(1, 2, num=adates.size)
probs = probs / probs.sum()
dates = np.random.choice(adates, p=probs, size=200)
dates.sort()
acessos = {
    'IdUsuarios' : [],
    'IdReceitas' : [],
    'Data' : []
}
for idusuarios, date in enumerate(dates):
    acessos['IdUsuarios'].append(np.random.choice(df_usu['IdUsuario']))
    acessos['IdReceitas'].append(np.random.choice(df_rece['IdReceitas']))
    acessos['Data'].append(date)
    
df_ven = pd.DataFrame(acessos)
df_ven['IdReceitas'] = df_ven['IdReceitas'].astype(int)
df_ven.head(200)

     IdUsuarios  IdReceitas       Data
0            44           1 2021-09-28
1            17           3 2021-09-30
2             8           4 2021-09-30
3           198           3 2021-10-01
4           105           1 2021-10-02
..          ...         ...        ...
195         183           2 2021-12-03
196           7           1 2021-12-03
197          42           3 2021-12-03
198         180           4 2021-12-03
199         103           4 2021-12-03

[200 rows x 3 columns]

## Colocando dados no banco de dados

In [ ]:
data_usu = []
for i in range(0,len(data_usu)):
    tuple = (int(df_usu['IdUsuario'][i]),
            str(df_usu['Nome'][i]),
            int(df_usu['Email'][i]),
            str(df_usu['Senha'][i]),
            str(df_usu['Data_de_Nascimento'][i]),
            str(df_usu['Telefone'][i]),
            str(df_usu['Estado_Civil'][i]),
            str(df_usu['Chefe_e_ou_Cliente'][i]),
            str(df_usu['Itens_Comprados'][i]), 
            )
    data_usu.append(tuple)

In [ ]:
cur.executemany('INSERT INTO Me_Ajuda_Chefe_usuario VALUES (?,?,?,?)', data_usu)

In [ ]:
data_rece = []
for i in range(0,len(usu)):
    tuple = (int(df_rece['IdReceitas'][i]),
            str(df_rece['Receitas'][i]),
            )
    data_rece.append(tuple)

In [ ]:
cur.executemany('INSERT INTO Me_Ajuda_Chefe_receitas VALUES (?,?,?,?)', data_rece)

In [ ]:
data_ven = []
for i in range(0,len(usu)):
    tuple = (int(df_ven['IUsuarios'][i]),
            int(df_ven['IdReceitas'][i]),
            str(df_ven['Data'][i]),
            )
    data_ve.append(tuple)